body {
  background-color: #f1f1f1;
}

/* navBar */

.navShadow {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

.navPosition {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  max-height: 5rem;
}

.navBar {
  display: flex;
  justify-content: end;
}

.logoInfo {
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
}

.logotipo {
  width: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}

.logoImg {
  width: 100%;
}

.homeInfo {
  text-decoration: none;
}

.pageName {
  color: rgba(0, 0, 0, 0.733);
}

.navBarHome {
  display: flex;
  justify-content: space-between;
}

.navIcon {
  font-size: 2rem;
}

.inputNav {
  border-radius: 7px 0 0 7px;
}

.buttonNav {
  border-radius: 0 7px 7px 0;
}

.dropDownPosition {
  right: 5px;
}

.dropDownItem:hover {
  background-color: #e4e4e444;
}

/* carousel */

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.carousel-item {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}

.carousel-item-next {
  animation: slideInRight 0.5s forwards;
}

.carousel-item-prev {
  animation: slideInLeft 0.5s forwards;
}

.carousel-item-left {
  animation: slideOutLeft 0.5s forwards;
}

.carousel-item-right {
  animation: slideOutRight 0.5s forwards;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textPostition {
  margin-top: 250px;
}

.styleCarrouselBars {
  margin: 0 4px;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  padding: 2px 20px;
}

.activeBar {
  border: 1px solid rgb(173, 173, 173);
  background-color: #cac9c9;
}

/* body */

.body {
  min-height: 100vh;
  margin-top: 6rem;
}

.headerContainer {
  margin-top: 5rem;
}

.linkLi {
  text-decoration: none;
  color: black;
  /*  display: -webkit-box;
  text-overflow: ellipsis; */
}

.styleButton {
  border: none;
}

.styleButton:hover {
  border-bottom: #000000 solid 1px;
}

.categoryPosition {
  display: flex;
  justify-content: center;
}

.unstyleList {
  list-style: none;
}

.filterStyle {
  padding: 15px 10px;
  border-bottom: solid rgb(192, 192, 192) 1px;
}

.filterStyle:hover {
  cursor: pointer;
}

.lastItem {
  border-bottom: none;
}

.productCard {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.productCard:hover {
  background-color: rgba(97, 238, 191, 0.288);
  cursor: pointer;
}

.cardImg {
  border-radius: 10px 10px 0 0;
}

.filterPosition {
  position: relative;
}

.categoriesDiv {
  position: sticky;
  top: 6rem;
}

.textStyleCard {
  text-decoration: none;
  color: black;
}

/* Product */

.colorStyle {
  height: 40px;
  width: 40px;
  border: solid 1px rgb(185, 185, 185);
  border-radius: 100%;
  margin-right: 10px;
  padding: 3px;
}

.colorStyle:hover {
  border: solid 1px rgb(0, 0, 0);
  cursor: pointer;
}

.color1 {
  background-color: rgb(252, 225, 168);
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.color2 {
  background-color: black;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.color3 {
  background-color: red;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.addToCart {
  border: none;
  background-color: rgba(97, 238, 191, 0.568);
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.addToCart:hover {
  background-color: rgba(114, 221, 185, 0.568);
}

.qtyDiv {
  border: black 1px solid;
  width: fit-content;
}

.qtyBtn {
  border: none;
  font-size: 20px;
  margin: 0 5px;
}

.qtyNum {
  font-size: 20px;
}

/* Footer */

.logoFooter {
  width: 20px;
}

.footer {
  background-color: rgba(97, 238, 191, 0.568);
  color: #000;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerListContact {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footerSection {
  flex: 1 1 200px;
  margin: 10px;
}

.footerSectionTitle {
  color: #000;
}

.footerLink {
  color: #505050;
  text-decoration: none;
}

.footerLink:hover {
  border-bottom: 1px solid #505050;
}

.footerEnd {
  border-top: 1px solid #646464;
  padding-top: 20px;
}

/* scrollBar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #cccccc;
  border-radius: 10px;
}

/* LogIn Btns */

.ingresarBtn:hover,
.crearBtn:hover {
  background-color: rgba(114, 221, 185, 0.568);
}

.ingresarBtn,
.crearBtn {
  background-color: rgba(97, 238, 191, 0.568);
}

.googleBtn:hover {
  background-color: #ffa700;
  color: #ffff;
}

.googleBtn {
  background-color: #d62d20;
  color: #ffff;
}

.facebookBtn:hover {
  background-color: #898f9c;
  color: #ffff;
}

.facebookBtn {
  background-color: #4267b2;
  color: #ffff;
}

.appleBtn:hover {
  background-color: #ffff;
  color: #000000;
}

.appleBtn {
  background-color: #000000;
  color: #ffff;
}

.boton {
  padding-left: 5px;
}
