/* div {
  border: 1px solid red;
}
header {
  border: 1px solid blue;
}
footer {
  border: 1px solid purple;
} */

/* clases provisionales */

/* navBar */

.navPosition{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navBar {
  display: flex;
  justify-content: end;
}

.navBarHome {
  display: flex;
  justify-content: space-between;
}

.inputNav {
  border-radius: 7px 0 0 7px;
}

.buttonNav {
  border-radius: 0 7px 7px 0;
}

/* body */

.body{
  margin-top: 5rem;
}

.altura {
  height: 20rem;
  background-color: blueviolet;
}

/* Footer */

.footer {
  background-color: #3d3d3d;
  color: #b3b3b3;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerListContact {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footerSection {
  flex: 1 1 200px;
  margin: 10px;
}

.footerSectionTitle {
  color: #eaeaea;
}

.footerLink {
  color: #b3b3b3;
  text-decoration: none;
}

.footerEnd {
  border-top: 1px solid #646464;
  padding-top: 20px;
}
