/* div {
  border: 1px solid red;
}
header {
  border: 1px solid blue;
}
footer {
  border: 1px solid purple;
} */

/* clases provisionales */

body {
  background-color: #f1f1f1;
}

/* navBar */

.navShadow {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

.navPosition {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  max-height: 5rem;
}

.navBar {
  display: flex;
  justify-content: end;
}

.logoInfo {
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
}

.logotipo {
  width: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}

.logoImg {
  width: 100%;
}

.homeInfo {
  text-decoration: none;
}

.pageName {
  color: rgba(0, 0, 0, 0.733);
}

.navBarHome {
  display: flex;
  justify-content: space-between;
}

.navIcon {
  font-size: 2rem;
}

.inputNav {
  border-radius: 7px 0 0 7px;
}

.buttonNav {
  border-radius: 0 7px 7px 0;
}

.dropDownPosition {
  right: 5px;
}

.dropDownItem:hover {
  background-color: #e4e4e444;
}

/* body */

.body {
  margin-top: 6rem;
  min-height: 100vh;
}

.carousel-inner {
  height: 20rem;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textPostition {
  margin-top: 250px;
}

.styleCarrouselBars {
  margin: 0 4px;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  padding: 2px 20px;
}

.activeBar {
  border: 1px solid rgb(173, 173, 173);
  background-color: #cac9c9;
}

.linkLi {
  text-decoration: none;
  color: black;
  /*  display: -webkit-box;
  text-overflow: ellipsis; */
}

.unstyleList {
  list-style: none;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
}

.filterStyle {
  padding: 5px 10px;
  border-bottom: solid gray 1px;
}

.filterStyle:hover {
  background-color: #e6e6e6;
}

.categoryItem:last-child > * > p {
  border-bottom: none;
}

.categoryItem:last-child > * > p:hover {
  border-bottom: none;
  background-color: #e6e6e6;
  border-radius: 0 0 10px 10px;
}

.categoryItem:first-child > * > p:hover {
  background-color: #e6e6e6;
  border-radius: 10px 10px 0 0;
}

.firstItem:hover {
  border-radius: 10px 10px 0 0;
}

.lastItem {
  border-bottom: none;
}

.lastItem:hover {
  border-radius: 0 0 10px 10px;
}

/* Footer */

.footer {
  background-color: #3d3d3d;
  color: #b3b3b3;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerListContact {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footerSection {
  flex: 1 1 200px;
  margin: 10px;
}

.footerSectionTitle {
  color: #eaeaea;
}

.footerLink {
  color: #b3b3b3;
  text-decoration: none;
}

.footerEnd {
  border-top: 1px solid #646464;
  padding-top: 20px;
}

/* scrollBar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #cccccc;
  border-radius: 10px;
}

/* LogIn Btns */

.ingresarBtn {
  background-color: blue;
}

.googleBtn:hover {
  background-color: #ffa700;
  color: #ffff;
}

.googleBtn {
  background-color: #d62d20;
  color: #ffff;
}

.facebookBtn:hover {
  background-color: #898f9c;
  color: #ffff;
}

.facebookBtn {
  background-color: #4267b2;
  color: #ffff;
}

.appleBtn:hover {
  background-color: #ffff;
  color: #000000;
}

.appleBtn {
  background-color: #000000;
  color: #ffff;
}

.boton {
  padding-left: 5px;
}
